<!DOCTYPE html>

<html lang="en-AU">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Issue Tracker - Project Page</title>
    <link rel="icon" type="image/png" href="https://cdn.freecodecamp.org/universal/favicons/favicon-16x16.png" />

    <link href="/public/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/public/css/style.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <header>
      <h1 class="text-center fw-bold mt-4 mb-4">
        <span id='projectTitle' class="text-multi-color">Issue Tracker</span>
      </h1>
    </header>

    <hr>

    <div class="container text-center mt-5">
      <div id='submitNewIssue'>
        <br>
        <h3>Submit a new issue:</h3>
        <form id="newIssue" method="post" action="/api/">
          <input type="text" name="issue_title" placeholder="*Title" class="form-control" required=''><br>
          <textarea type="text" name="issue_text" placeholder="*Text" class="form-control" required=''></textarea><br>
          <input type="text" name="created_by" placeholder="*Created by" class="form-control" required=''><br>
          <input type="text" name="assigned_to" placeholder="(opt)Assigned to" class="form-control"><br>
          <input type="text" name="status_text" placeholder="(opt)Status text" class="form-control"><br>
          <button type="submit" class="btn btn-primary w-100">Submit Issue</button>
        </form>
      </div>

      <div id="issueDisplay" class="mt-5"></div>
    </div>

    <p class="text-center fw-bold mt-5 mb-0">
      <span class="text-multi-color">Developed by </span>
      Minh Ta
    </p>

    <script src="/public/js/jquery-2.2.1.min.js" type="text/javascript"></script>
    <script src="/public/js/bootstrap.bundle.min.js" type="text/javascript"></script>

    <script>
      $(function() {
        let currentProject = window.location.pathname.replace(/\//g, "");;
        let url = "/api/issues/"+currentProject;
        $('#projectTitle').text('All issues for: '+currentProject)
        $.ajax({
          type: "GET",
          url: url,
          success: function(data)
          {
            let issues= [];
            data.forEach(function(ele) {
              console.log(ele);
              let openstatus;
              (ele.open) ? openstatus = 'open' : openstatus = 'closed';
              let single = [
                '<div class="issue '+openstatus+'">',
                '<p class="id">id: '+ele._id+'</p>',
                '<h3>'+ele.issue_title+' -  ('+openstatus+')</h3>',
                '<br>',
                '<p>'+ele.issue_text+'</p>',
                '<p>'+ele.status_text+'</p>',
                '<br>',
                '<p class="id"><b>Created by:</b> '+ele.created_by+'  <b>Assigned to:</b> '+ele.assigned_to,
                '<p class="id"><b>Created on:</b> '+ele.created_on+'  <b>Last updated:</b> '+ele.updated_on,
                '<br><a href="#" class="closeIssue" id="'+ele._id+'">close?</a> <a href="#" class="deleteIssue" id="'+ele._id+'">delete?</a>',
                '</div>'

              ];
              issues.push(single.join(''));
            });
            $('#issueDisplay').html(issues.join(''));
          }
        });

        $('#newIssue').submit(function(e){
          e.preventDefault();
          $(this).attr('action', "/api/issues/" + currentProject);
          $.ajax({
            type: "POST",
            url: url,
            data: $(this).serialize(),
            success: function(data) { window.location.reload(true); }
          });
        });

        $('#issueDisplay').on('click','.closeIssue', function(e) {
          e.preventDefault();
          let url = "/api/issues/"+currentProject;
          $.ajax({
            type: "PUT",
            url: url,
            data: {_id: $(this).attr('id'), open: false},
            success: function(data) { alert(data); window.location.reload(true); }
          });
        });
        $('#issueDisplay').on('click','.deleteIssue', function(e) {
          e.preventDefault();
          let url = "/api/issues/"+currentProject;
          $.ajax({
            type: "DELETE",
            url: url,
            data: {_id: $(this).attr('id')},
            success: function(data) { alert(data); window.location.reload(true); }
          });
        });
      });
   </script>
  </body>
</html>
